*, html {
	margin:0;
	padding:0;  
}

body {
	font-family: "Oswald", sans-serif;
	text-align: center;
	background-color: #f7f7f7;
	min-width: 1200px;
}

html, body {
	height: 100%;
}

#header {
	color: white;
	background-image: url("/bannerstars.png");
	background-size: cover;
	background-repeat: repeat;
	height: 50px;
	padding-left: 0px;
	box-shadow: 0px 3px 5px #888888;
	margin-bottom: 30px;
}


.gamebox {
	position: relative;
	background-color: white;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius:5px;
	max-width: 1000px;
	overflow: auto;
}

.rightbar {
	position: absolute;
	right: 20px;
}

.points {
	padding-top: 10px;
	position: relative;
	float: center;
}

.imageUploadButton {
	position: relative;
	float: center;
}


.userRound {
	position:relative;
	float: left;
	clear: right;
	margin-bottom: 5px;
}

.bubble {
	height: 35px;
	position: relative;
	float: left;
	clear: right;
}
.promptBanner {
	height: 35px;
	position:relative;
	float: left;
	clear: left;
}

.critiques_link {
	position: relative;
	float: right;
}
.art_section {
	position: relative;
	float: left;
}

.art_img {
	width: 400px;
	cursor: -moz-zoom-in; 
	cursor: -webkit-zoom-in; 
	cursor: zoom-in;
}

.prompt {
	pointer-events: none;
	position: relative;
	float: center;
	text-align: center;
	padding-bottom: 40px;
	font-size: 1.75em;
	line-height: 1em;
	height: 2em;
	width: 50%;
	margin: 0 auto;
	clear: left;
}

.response_arrow {
	height:75px;
	position: relative;
	float: center;
	margin: 72.5px auto;
}

.feedback_form {
	position: relative;
	float: right;
	text-align: right;
}

.feedback_text {
	font-family: "Oswald", sans-serif;
	font-size: 1em;
	width: 400px;
	height: 220px;
	padding: 8px;
	resize:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.feedbackSubmit {
	margin-top: 10px;
}

.logo {
	height:50px;
	float:left;
}

.usermenu {
	float:right;
	padding-right:10px;
	height: 50px;
	line-height:50px;
}

.button {
	font-family: "Oswald", sans-serif;
	font-size: 1em;
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
	text-align: center;
}

.button.disabled {
	background-color: grey;
}

.button.disabled:hover {
	background-color: grey;
}

.button:hover {
	background-color: #5CBF60
}

/* Make invisible so label can act in its place */
.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
